@use "../../scss/_mixins.scss" as *;
:root {
  /* =====[Primary Color Variables]===== */
	@include generate-palette(primary, var(--primary));
  /* =====[Secondary Color Variables]===== */
	@include generate-palette(secondary, var(--secondary));
  /* =====[Accent Color Variables]===== */
	@include generate-palette(accent, var(--accent));
  /* =====[Red Color Variables]===== */
	@include generate-palette(red, var(--red));
  /* =====[Orange Color Variables]===== */
	@include generate-palette(orange, var(--orange));
  /* =====[Amber Color Variables]===== */
	@include generate-palette(amber, var(--amber));
  /* =====[Yellow Color Variables]===== */
	@include generate-palette(yellow, var(--yellow));
  /* =====[Lime Color Variables]===== */
	@include generate-palette(lime, var(--lime));
  /* =====[Green Color Variables]===== */
	@include generate-palette(green, var(--green));
  /* =====[Ember Color Variables]===== */
	@include generate-palette(amber, var(--amber));
  /* =====[Teal Color Variables]===== */
	@include generate-palette(teal, var(--teal));
  /* =====[Cyan Color Variables]===== */
	@include generate-palette(cyan, var(--cyan));
  /* =====[Sky Color Variables]===== */
	@include generate-palette(sky, var(--sky));
  /* =====[Blue Color Variables]===== */
	@include generate-palette(blue, var(--blue));
  /* =====[Indigo Color Variables]===== */
  @include generate-palette(indigo, var(--indigo));
  /* =====[Violet Color Variables]===== */
  @include generate-palette(violet, var(--violet));
  /* =====[Purple Color Variables]===== */
  @include generate-palette(purple, var(--purple));
  /* =====[Fuchsia Color Variables]===== */
  @include generate-palette(fuchsia, var(--fuchsia));
  /* =====[Pink Color Variables]===== */
  @include generate-palette(pink, var(--pink));
  /* =====[Rose Color Variables]===== */
  @include generate-palette(rose, var(--rose));
  /* =====[Slate Color Variables]===== */
  @include generate-palette(slate, var(--slate));
  /* =====[Gray Color Variables]===== */
  @include generate-palette(gray, var(--gray));
  /* =====[Zinc Color Variables]===== */
  @include generate-palette(zinc, var(--zinc));
  /* =====[Neutral Color Variables]===== */
  @include generate-palette(neutral, var(--neutral));
  /* =====[Stone Color Variables]===== */
  @include generate-palette(stone, var(--stone));
}
