@use "../scss/color-vars" as *;

/* =====[ Opacity Classes ]===== */
@each $opacity, $value in $opacities {
  .opacity--#{$opacity},
  .opacity\:#{$opacity} {
    opacity: $value;
  }
}

/* =====[ Display Classes ]===== */
@each $class, $display in $inlineClasses {
  .#{$class} {
    display: #{$display};
  }
}