@use "./utils-vars" as *;

// ======== Margin Paddings : Starts ======== //
@mixin spacingUtilities($type) {
  @if($type == "margin") {
    @include generateMargins($type);
  } @else if($type == "padding") {
    @include generatePaddings($type);
  }
}
@mixin axisLoop($type, $property) {
  @each $size in $sizes {
    .#{$type}--#{$size} {
      #{$property}: var(--spacing--#{$size});
    }
  }
}
@mixin axisValueLoop($type, $property) {
  @each $axis in $axises {
    @if($axis == "auto") {
      .#{$type}--#{$axis} {
        #{$property}: auto;
      }
    } @else if($axis == "0") {
      .#{$type}--#{$axis} {
        #{$property}: 0;
      }
    }
  }
}
// ======== Margin Paddings : Ends ======== //
