@use './utils-vars' as *;
@use './mixins' as *;

@use './cursors' as *;
@use './text' as *;
@use './flex' as *;
@use './grid' as *;
@use './display' as *;
@use './opacity' as *;
@use './gap' as *;
@use './radius' as *;
@use './margin' as *;
@use './padding' as *;
@use './height' as *;
@use './width' as *;
@use './font' as *;
@use './others' as *;

/* =====[ :root variables ]===== */
@include utilsVariables();

/* =====[ Opacity Classes ]===== */
@include opacityUtilities();

/* =====[ Display Classes ]===== */
@include displayUtilities();

/* =====[ Flex Classes ]===== */
@include flexUtils();

/* =====[ Grid Classes ]===== */
@include gridUtils();

/* =====[ Margins Classes ]===== */
@include marginUtils("margin");

/* =====[ Paddings Classes ]===== */
@include paddingUtils("padding");

/* =====[ Radius Classes ]===== */
@include radiusUtils();

/* =====[ Gap Classes ]===== */
@include gapUtils();

/* =====[ Z-Index Classes ]===== */
@include zIndexUtils();

/* =====[ Text Align Classes ]===== */
@include textUtilities();

/* =====[ Overflow Classes ]===== */
@include overflowUtils();

/* =====[ Cursor Classes ]===== */
@include generateCursors();

/* =====[ Width Classes ]===== */
@include widthUtils();

/* =====[ Height Classes ]===== */
@include heightUtils();

/* =====[ Height Classes ]===== */
@include inlineSizesUtils();

/* =====[ Font Classes ]===== */
@include fontUtils();

/* =====[ Others Classes ]===== */
@include othersUtils();
