$types: ('bg', 'text', 'border');
$properties: ('background-color', 'color', 'border-color');
$colors: (
  'primary',
  'secondary',
  'accent',
  'red',
  'orange',
  'amber',
  'yellow',
  'lime',
  'green',
  'teal',
  'cyan',
  'sky',
  'blue',
  'indigo',
  'violet',
  'purple',
  'fuchsia',
  'pink',
  'rose',
  'slate',
  'gray',
  'zinc',
  'neutral',
  'stone',
);