// generate classes for each color
@mixin generateClass($type, $property, $color, $mode: "light") {
	$shades: (
		50: var(--#{$color}--50),
		100: var(--#{$color}--100),
		200: var(--#{$color}--200),
		300: var(--#{$color}--300),
		400: var(--#{$color}--400),
    500: var(--#{$color}--500),
    600: var(--#{$color}--600),
    700: var(--#{$color}--700),
    800: var(--#{$color}--800),
    900: var(--#{$color}--900),
    950: var(--#{$color}--950),
	);

	@each $shade, $settings in $shades {
    @include setClass($mode, $type, $property, $color, $shade);
	}
}

@mixin setClass($mode, $type, $property, $color, $shade) {
  .bg-white, .bg-light { background-color: var(--white); }
  .bg-dark, .bg-black { background-color: var(--black); }
  @if($mode == "dark") {
    .dark\:#{$type}-#{$color}--#{$shade} {
      #{$property}: var(--#{$color}--#{$shade});
    }
  } @else {
    .#{$type}-#{$color}--#{$shade} {
      #{$property}: var(--#{$color}--#{$shade});
    }
  }
}