@use "sass:map";
@mixin generate-palette($name, $base-hex) {
	$token-name: "" + $name;
	$light-shades: (
		50: (mix: var(--lightness), weight: 95%),
		100: (mix: var(--lightness), weight: 90%),
		200: (mix: var(--lightness), weight: 80%),
		300: (mix: var(--lightness), weight: 60%),
		400: (mix: var(--lightness), weight: 30%),
	);

	$dark-shades: (
		600: (mix: var(--darkness), weight: 15%),
		700: (mix: var(--darkness), weight: 35%),
		800: (mix: var(--darkness), weight: 55%),
		900: (mix: var(--darkness), weight: 75%),
		950: (mix: var(--darkness), weight: 90%),
	);

	@each $shade, $settings in $light-shades {
		$mix: map.get($settings, mix);
		$weight: map.get($settings, weight);

		--#{$token-name}-#{$shade}: color-mix(in var(--color-mode), var(--#{$token-name}-500), #{$mix} #{$weight});
	}

	--#{$token-name}-500: color-mix(in var(--color-mode), #{$base-hex}, var(--lightness) 50%);

	@each $shade, $settings in $dark-shades {
		$mix: map.get($settings, mix);
		$weight: map.get($settings, weight);

		--#{$token-name}-#{$shade}: color-mix(in var(--color-mode), var(--#{$token-name}-500), #{$mix} #{$weight});
	}
}
